/*flex*/

.flex { display: flex }

.flex-1 { flex: 1; }

.flex-column  { flex-direction: column }

.flex-row     { flex-direction: row }

.flex-wrap    { flex-wrap: wrap }

.items-start    { align-items: flex-start }

.items-end      { align-items: flex-end }

.items-center   { align-items: center }

.items-baseline { align-items: baseline }

.items-stretch  { align-items: stretch }

.self-start    { align-self: flex-start }

.self-end      { align-self: flex-end }

.self-center   { align-self: center }

.self-baseline { align-self: baseline }

.self-stretch  { align-self: stretch }

.justify-start   { justify-content: flex-start }

.justify-end     { justify-content: flex-end }

.justify-center  { justify-content: center }

.justify-between { justify-content: space-between }

.justify-around  { justify-content: space-around }

.content-start   { align-content: flex-start }

.content-end     { align-content: flex-end }

.content-center  { align-content: center }

.content-between { align-content: space-between }

.content-around  { align-content: space-around }

.content-stretch { align-content: stretch }

.mt20 { margin-top: 20px }

.ml20 { margin-left: 20px }

.mb20 { margin-bottom: 20px }
.cursor { cursor: pointer }

.overflow-hidden {
    overflow: hidden;
}
.overflow-auto {
    overflow: auto;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.center {
  width: 100%;
  height: 100%;
  margin: auto
}
.nav {
  ::v-deep .el-tabs__active-bar {
    background-color: transparent !important;
  }

  ::v-deep .el-tabs__nav-wrap::after {
    background-color: transparent !important;
  }

  ::v-deep .el-tabs__item {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  ::v-deep .el-tabs__item.is-active {
    background-color: #fff !important;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
  }
}
